<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Futuristic Supermarket</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                    <li><a href="components/productos.html">Productos</a></li>
                    <li><a href="components/ofertas.html">Ofertas</a></li>
                    <li><a href="components/servicios.html">Servicios</a></li>
                    <li><a href="components/localizacion.html">Localización</a></li>
                    <li><a href="components/contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <h1>Futuristic Supermarket</h1>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos">
            <button>Buscar</button>
        </div>
    </header>

    <section class="featured-products">
        <h2>Productos Destacados</h2>
        <div class="product">
            <img src="img/bateria-20-v-2-ah-cargador-2-4-a-regular--3.png" alt="Producto Destacado 1">
            <h3>Producto 1</h3>
            <p>Descripción breve del producto 1.</p>
            <span class="price">$19.99</span>
            <button class="btn">Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="img/envasadora-al-vacio-125-w-regular--12.png" alt="Producto Destacado 2">
            <h3>Producto 2</h3>
            <p>Descripción breve del producto 2.</p>
            <span class="price">$24.99</span>
            <button class="btn">Agregar al Carrito</button>
        </div>
    </section>

    <section class="special-offers">
        <h2>Ofertas Especiales</h2>
        <div class="offer">
            <img src="img/bateria-20-v-2-ah-cargador-2-4-a-regular--3.png" alt="Oferta Especial 1">
            <h3>Oferta de la Semana</h3>
            <p>Descuento del 20% en productos seleccionados. ¡No te lo pierdas!</p>
            <a href="#" class="btn">Ver Detalles</a>
        </div>
        <div class="offer">
            <img src="img/envasadora-al-vacio-125-w-regular--12.png" alt="Oferta Especial 2">
            <h3>Oferta de Tecnología</h3>
            <p>Ahorra en dispositivos electrónicos de última generación.</p>
            <a href="#" class="btn">Ver Detalles</a>
        </div>
    </section>
    

    <section class="product-categories">
        <h2>Categorías de Productos</h2>
        <div class="category">
            <img src="img/bateria-20-v-2-ah-cargador-2-4-a-regular--3.png" alt="Categoría de Productos 1">
            <h3>Categoría 1</h3>
        </div>
        <div class="category">
            <img src="img/envasadora-al-vacio-125-w-regular--12.png" alt="Categoría de Productos 2">
            <h3>Categoría 2</h3>
        </div>
    </section>

    <section class="services">
        <h2>Servicios Ofrecidos</h2>
        <div class="service">
            <img src="img/bateria-20-v-2-ah-cargador-2-4-a-regular--3.png" alt="Servicio 1">
            <h3>Servicio 1</h3>
            <p>Descripción breve del servicio 1.</p>
        </div>
        <div class="service">
            <img src="img/envasadora-al-vacio-125-w-regular--12.png" alt="Servicio 2">
            <h3>Servicio 2</h3>
            <p>Descripción breve del servicio 2.</p>
        </div>
    </section>

    <footer>
        <ul>
            <li><a href="#">Inicio</a></li>
                <li><a href="components/productos.html">Productos</a></li>
                <li><a href="components/ofertas.html">Ofertas</a></li>
                <li><a href="components/servicios.html">Servicios</a></li>
                <li><a href="components/localizacion.html">Localización</a></li>
                <li><a href="components/contacto.html">Contacto</a></li>
        </ul>
        <p>&copy; 2023 Futuristic Supermarket. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
