<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ServicioStyles.css">
    <title>Servicios - Futuristic Supermarket</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="localizacion.html">Localización</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <h1>Servicios - Futuristic Supermarket</h1>
        <div class="service">
            <img src="../img/bateria-20-v-2-ah-cargador-2-4-a-regular--3.png" alt="Servicio 1">
            <h2>Servicio de Entrega Rápida</h2>
            <p>Entregamos tus compras en menos de 2 horas.</p>
        </div>
        <div class="service">
            <img src="../img/envasadora-al-vacio-125-w-regular--12.png" alt="Servicio 2">
            <h2>Asistencia Personalizada</h2>
            <p>Nuestro equipo está disponible para ayudarte en tus compras.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Futuristic Supermarket. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
